{% extends "BikerBackendBundle::layout.html.twig" %}
{% block main_content %}
<div id="page-user" class="padding">
	<div class="admin-users">
		<div class="container default-padding">
			<div class="col_6">
				<h2>Users</h2>
			</div>
			<div class="cold_6">
				<button class="add-user-btn pull-right">Add New User</button>
			</div>
			<div class="col_12">
				<form class="add-user-form dynamic-form" action="#">
					<input type="hidden" name="_action" value="addUser" />
					<p><input name="_username" type="text" placeholder="User Name" /></p>
					<p><input name="_email" type="text" placeholder="Email" /></p>
					<p><input name="_password" type="password" /></p>
					<p>
						<select name="_role">
							<option value="ROLE_PERSONEL">Personel</option>
							<option value="ROLE_THIRD_PARTY">Third Party</option>
						</select>
					</p>
					<p class="combine">
						<button class="sugar" type="submit">Submit</button>
						<button class="green cancel-add-user-btn">Cancel</button>
					</p>
				</form>	
			</div>
		</div>
		
		<table class="table-users">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th style="width: 160px">Role</th>
					<th style="width: 140px; text-align: center" class="glyph sort"></th>
				</tr>
			</thead>
			<tbody>
				{% if aUsers | length > 0 %}
					{% for oUser in aUsers %}
						<tr data-userid={{ oUser.getId() }}>
							<td class="col-username">{{ oUser.getUsername() }}</td>
							<td class="col-email">{{ oUser.getEmail() }}</td>
							<td class="col-highestrole">{{ oUser.getHighestRole() }}</td>
							<td class="col-actions">
								<a class="edit-item" href="javascript:void(0);"><span class="icon">8</span></a> 
								<a class="delete-item" href="javascript:void(0);"><span class="icon">X</span></a> 
								<a class="disable-item" href="javascript:void(0);"><span class="icon">\</span></a>
							</td>
						</tr>	
					{% endfor %}
				{% endif %}
				
			</tbody>
		</table>
	</div>
	<div class="customer-users">
		<div class="container default-padding clearfix">
			<div class="col_6">
				<h2>Customers</h2>
			</div>
			<div class="col_6">
				<button class="add-customer-btn pull-right">Add New Customer</button>
			</div>
			<div class="col_12">
				<form class="add-customer-form dynamic-form" action="#">
					<input type="hidden" name="_action" value="addCustomer" />
					<p><input name="_username" type="text" placeholder="User Name" /></p>
					<p><input name="_email" type="text" placeholder="Email" /></p>
					<p><input name="_password" type="password" /></p>
					<p class="combine">
						<button class="sugar" type="submit">Submit</button>
						<button class="green cancel-add-customer">Cancel</button>
					</p>
				</form>
			</div>
		</div>
		
		<table class="table-customers">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th style="width: 140px; text-align: center" class="glyph sort"></th>
				</tr>
			</thead>
			<tbody>
				{% if aCustomers | length > 0 %}
					{% for oCustomer in aCustomers %}
						<tr data-customerid={{ oCustomer.getId() }}>
							<td class="col-username">{{ oCustomer.getUsername() }}</td>
							<td class="col-email">{{ oCustomer.getEmail() }}</td>
							<td class="col-actions">
								<a class="edit-item" href="javascript:void(0);"><span class="icon">8</span></a>
								<a class="delete-item" href="javascript:void(0);"><span class="icon">X</span></a> 
								<a class="disable-item" href="javascript:void(0);"><span class="icon">\</span></a>
							</td>
						</tr>	
					{% endfor %}
				{% endif %}
				
			</tbody>
		</table>
	</div>
</div>
<div class="clone-container hide-content">
<table class="table-users-clone">
	<tr>
		<td class="col-username"></td>
		<td class="col-email"></td>
		<td class="col-highestrole"></td>
		<td class="col-actions">
			<a class="edit-item" href="javascript:void(0);"><span class="icon">8</span></a> 
			<a class="delete-item" href="javascript:void(0);"><span class="icon">X</span></a> 
			<a class="disable-item" href="javascript:void(0);"><span class="icon">\</span></a>
		</td>
	</tr>	
</table>
<table class="table-customers-clone">
	<tr>
		<td class="col-username"></td>
		<td class="col-email"></td>
		<td class="col-actions">
			<a class="edit-item" href="javascript:void(0);"><span class="icon">8</span></a> 
			<a class="delete-item" href="javascript:void(0);"><span class="icon">X</span></a> 
			<a class="disable-item" href="javascript:void(0);"><span class="icon">\</span></a>
		</td>
	</tr>	
</table>
</div>
{% endblock %}